
{% extends 'app/home.html' %}
{% block content %}
<div class="user" style="color: white; margin: 100px 0px -120px 1580px;" >
  <h1>{{data1 | default:"welcome guest"}}</h1>
</div>
    <section class="about" id="about">
        <h1 class="heading"><span>Regi</span>ster</h1>
    </section>
  <div class="container">
    {% comment %} <div clas s="title">Registration</div> {% endcomment %}
    <div class="content">
      <form action="{% url "savedata" %}" method="post">
        {% csrf_token %}
        <div class="user-details">
          <div class="input-box">
            <span class="details">Full Name</span>
            <input type="text" name='name' placeholder="Enter your name" required>
          </div>
          <div class="input-box">
            <span class="details">Email</span>
            <input type="text" name='email' placeholder="Enter your email" required>
          </div>
          <div class="input-box">
            <span class="details">Phone Number</span>
            <input type="text" name='contact' placeholder="Enter your number" required>
          </div>
          <div class="input-box">
            <span class="details">City</span>
            <input type="text" name='city' placeholder="Enter your city" required>
          </div>
          <div class="input-box">
            <span class="details">Password</span>
            <input type="text" name='password' placeholder="Enter your password" required>
          </div>
          <div class="input-box">
            <span class="details">Confirm Password</span>
            <input type="text" name='cpassword' placeholder="Enter your confirm password" required>
          </div>
        </div>
        <div class="gender-details">
          <input type="radio" name="gender" id="dot-1">
          <input type="radio" name="gender" id="dot-2">
          <input type="radio" name="gender" id="dot-3">
          <span class="gender-title">Gender</span>
          <div class="category">
            <label for="dot-1">
            <span class="dot one"></span>
            <span class="gender">Male</span>
          </label>
          <label for="dot-2">
            <span class="dot two"></span>
            <span class="gender">Female</span>
          </label>
          <label for="dot-3">
            <span class="dot three"></span>
            <span class="gender">Prefer not to say</span>
            </label>
          </div>
        </div>
        <div class="button">
          <input type="submit" value="SIGN-IN">
        </div>
      </form>
    </div>
  </div>
{% endblock %}